@{
    ViewData["Title"] = "Dự án";
}
<h2 class="mb-4">Dự án</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @* Project cards *@
    <div class="col">
        <div class="card h-100">
            <img src="/images/project1.jpg" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Dự án A</h5>
                <p class="card-text">Mô tả ngắn về dự án A...</p>
            </div>
        </div>
    </div>
</div>