@{
    ViewData["Title"] = "Đăng nhập";
}
<link rel="stylesheet" href="/css/dangnhap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" />

<div class="login container grid" id="loginAccessRegister">
    <div class="login__access">
        <h1 class="login__title">Đăng nhập vào tài khoản</h1>

        @if (ViewBag.Error != null)
        {
            <div class="alert error">@ViewBag.Error</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert success">@TempData["Success"]</div>
        }

        <div class="login__area">
            <form asp-controller="Dangnhap" asp-action="Index" method="post" class="login__form">
                <div class="login__content grid">
                    <div class="login__box">
                        <input type="email" id="username" name="username" required placeholder=" " class="login__input" />
                        <label for="username" class="login__label">Email</label>
                       
                    </div>

                    <div class="login__box">
                        <input type="password" id="password" name="password" required placeholder=" " class="login__input" />
                        <label for="password" class="login__label">Mật khẩu</label>
                       
                    </div>
                </div>

                <a href="#" class="login__forgot">Quên mật khẩu?</a>
                <button type="submit" class="login__button">Đăng nhập</button>
            </form>

            <p class="login__switch">
                Chưa có tài khoản?
                <a asp-action="DangKy" class="login__register-link">Tạo tài khoản</a>
            </p>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
