USE [master]
GO
/****** Object:  Database [NoiThat]    Script Date: 08/11/2025 3:28:14 SA ******/
CREATE DATABASE [NoiThat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoiThat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\NoiThat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoiThat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\NoiThat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoiThat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoiThat]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaChiTietNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhapKho] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[ThanhTien] [int] NULL,
	[GiaVonDonVi] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGias]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Diem] [int] NULL,
	[BinhLuan] [nvarchar](500) NULL,
	[ThoiGian] [datetime] NULL,
	[SanPhamId] [int] NOT NULL,
	[TenNguoiDung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK__DanhMuc__B375088753BB063D] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucDecor]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucDecor](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decor]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decor](
	[MaDecor] [int] IDENTITY(1,1) NOT NULL,
	[TenDecor] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Link3D] [nvarchar](255) NULL,
	[NgayThem] [datetime] NULL,
	[MaTK] [int] NULL,
	[MaDanhMuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDecor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiNguoiDung]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiNguoiDung](
	[MaDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[DiaChiChiTiet] [nvarchar](max) NOT NULL,
	[MacDinh] [bit] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[MaTinhThanh] [nvarchar](50) NULL,
	[MaQuanHuyen] [nvarchar](50) NULL,
	[MaPhuongXa] [nvarchar](50) NULL,
	[PhuongXa] [nvarchar](max) NULL,
	[QuanHuyen] [nvarchar](max) NULL,
	[TinhTP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[MaDiaChi] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayYeuCau] [datetime] NULL,
	[NgayGiaoThucTe] [datetime] NULL,
	[PhiVanChuyen] [decimal](10, 2) NULL,
	[TongTien] [decimal](10, 2) NULL,
	[GiamGia] [decimal](10, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThaiThanhToan] [nvarchar](20) NULL,
	[TrangThaiDonHang] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayGiao] [datetime] NULL,
	[MaVanDon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashSale]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashSale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[DiscountPercent] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotTruyCap]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotTruyCap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayTruyCap] [datetime] NOT NULL,
	[MaTK] [int] NULL,
	[IPAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongTien] [money] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[ConNo] [money] NULL,
	[DaThanhToan] [money] NULL,
	[ChietKhau] [float] NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[MaTK] [int] NULL,
	[ChiPhiPhatSinh] [decimal](18, 2) NULL,
	[TongHoaDonThucTe] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[MaSP] [int] NULL,
	[DanhGia] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayGopY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongXa]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongXa](
	[MaPhuongXa] [nvarchar](20) NOT NULL,
	[TenPhuongXa] [nvarchar](200) NOT NULL,
	[MaQuanHuyen] [int] NOT NULL,
 CONSTRAINT [PK_PhuongXa] PRIMARY KEY CLUSTERED 
(
	[MaPhuongXa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanHuyen]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanHuyen](
	[MaQuanHuyen] [int] NOT NULL,
	[TenQuanHuyen] [nvarchar](200) NOT NULL,
	[MaTinhThanh] [int] NOT NULL,
 CONSTRAINT [PK_QuanHuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuanHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[MaDanhMuc] [int] NULL,
	[ChieuRong] [int] NULL,
	[ChieuCao] [int] NULL,
	[ChieuSau] [int] NULL,
	[MaThuongHieu] [int] NULL,
	[GiaGoc] [decimal](18, 2) NULL,
	[NgayTao] [datetime] NULL,
	[MarkupRatio] [decimal](5, 2) NULL,
	[TuDongCapNhatGiaBan] [bit] NULL,
	[Weight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamYeuThich]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamYeuThich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[Avatar] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[NguoiGuiId] [int] NOT NULL,
	[NguoiNhanId] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[ThoiGianGui] [datetime] NOT NULL,
	[DaXem] [bit] NOT NULL,
	[NgayGui] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] NOT NULL,
	[TenTinhThanh] [nvarchar](200) NOT NULL,
	[MaVung] [int] NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 08/11/2025 3:28:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaThuongHieu] [int] NOT NULL,
	[Logo] [varchar](255) NULL,
	[TenThuongHieu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (4054, 4058, 4, 1, CAST(1440000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (4055, 4058, 1, 1, CAST(306000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (4056, 4059, 5, 1, CAST(864000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] ON 

INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [MaNhapKho], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GiaVonDonVi]) VALUES (2, 2, 2, 10, 200000.0000, 2000000, NULL)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [MaNhapKho], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GiaVonDonVi]) VALUES (3, 3, 1, 6, 2500000.0000, 15000000, NULL)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [MaNhapKho], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GiaVonDonVi]) VALUES (4, 8, 1, 5, 2700000.0000, 13500000, CAST(2800000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGias] ON 

INSERT [dbo].[DanhGias] ([Id], [Diem], [BinhLuan], [ThoiGian], [SanPhamId], [TenNguoiDung]) VALUES (1, 5, N'Sản phẩm rất đẹp, giao hàng nhanh!', CAST(N'2025-07-12T08:44:57.887' AS DateTime), 1, N'Nguyễn Văn A')
INSERT [dbo].[DanhGias] ([Id], [Diem], [BinhLuan], [ThoiGian], [SanPhamId], [TenNguoiDung]) VALUES (2, 5, N'alo', CAST(N'2025-07-12T10:38:12.383' AS DateTime), 27, N'Phan Thuan')
INSERT [dbo].[DanhGias] ([Id], [Diem], [BinhLuan], [ThoiGian], [SanPhamId], [TenNguoiDung]) VALUES (3, 4, N'cũng dc', CAST(N'2025-07-12T10:38:50.317' AS DateTime), 27, N'Admin Chính')
SET IDENTITY_INSERT [dbo].[DanhGias] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [Logo]) VALUES (1, N'Bàn làm việc', N'Cao cấp, chất liệu gỗ', N'https://hoaphatnoithat.net.vn/wp-content/uploads/2021/04/ban-lam-viec-at120shl3df.jpg')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [Logo]) VALUES (2, N'Ghế văn phòng', N'Nhiều kiểu dáng hiện đại', N'https://noithatdangkhoa.com/wp-content/uploads/2024/06/ghe-xoay-luoi-van-phong-gxdk13.jpg')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [Logo]) VALUES (3, N'Tủ kệ trang trí', N'Thiết kế tinh tế', N'https://noithatgiakho.com/upload/sanpham/large/ke-trang-tri-ntmd06-1122-1f0e3d.jpg')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucDecor] ON 

INSERT [dbo].[DanhMucDecor] ([MaDanhMuc], [TenDanhMuc], [Logo]) VALUES (1, N'Phòng khách', NULL)
INSERT [dbo].[DanhMucDecor] ([MaDanhMuc], [TenDanhMuc], [Logo]) VALUES (2, N'Phòng ngủ', NULL)
INSERT [dbo].[DanhMucDecor] ([MaDanhMuc], [TenDanhMuc], [Logo]) VALUES (3, N'Phòng ăn', NULL)
SET IDENTITY_INSERT [dbo].[DanhMucDecor] OFF
GO
SET IDENTITY_INSERT [dbo].[Decor] ON 

INSERT [dbo].[Decor] ([MaDecor], [TenDecor], [MoTa], [Link3D], [NgayThem], [MaTK], [MaDanhMuc]) VALUES (1, N'Décor 3D Sofa hiện đại', N'Mô hình nội thất đẹp mắt, tương thích Sketchfab Viewer.', N'38a23dfe6bc94c5088800a128c482af0', CAST(N'2025-07-23T14:44:26.290' AS DateTime), NULL, 1)
INSERT [dbo].[Decor] ([MaDecor], [TenDecor], [MoTa], [Link3D], [NgayThem], [MaTK], [MaDanhMuc]) VALUES (2, N'Tủ sách hiện đại', N'Tủ sách bằng gỗ sồi, thiết kế mở, phù hợp không gian hiện đại.', N'6db0b351424141099e30834c6115f40a', CAST(N'2025-07-23T15:00:33.177' AS DateTime), NULL, 1)
INSERT [dbo].[Decor] ([MaDecor], [TenDecor], [MoTa], [Link3D], [NgayThem], [MaTK], [MaDanhMuc]) VALUES (3, N'Đèn trần nghệ thuật', N'Chiếc đèn trần với thiết kế hiện đại, ánh sáng LED dịu nhẹ.', N'80957ee0602b4de3a183bfb8addd6824', CAST(N'2025-07-23T15:00:33.177' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Decor] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChiNguoiDung] ON 

INSERT [dbo].[DiaChiNguoiDung] ([MaDiaChi], [MaTK], [DiaChiChiTiet], [MacDinh], [TenNguoiNhan], [SoDienThoai], [MaTinhThanh], [MaQuanHuyen], [MaPhuongXa], [PhuongXa], [QuanHuyen], [TinhTP]) VALUES (19, 5, N'ỪE', 0, N'TÙNG', N'FAESE', N'259', N'1834', N'360603', N'Xã Đắk Ring', N'Huyện Kon Plông', N'Kon Tum')
INSERT [dbo].[DiaChiNguoiDung] ([MaDiaChi], [MaTK], [DiaChiChiTiet], [MacDinh], [TenNguoiNhan], [SoDienThoai], [MaTinhThanh], [MaQuanHuyen], [MaPhuongXa], [PhuongXa], [QuanHuyen], [TinhTP]) VALUES (20, 5, N'ăgaewrg', 0, N'Khoa', N'gưagwg', N'259', N'1921', N'360207', N'Xã Đắk Nhoong', N'Huyện Đắk Glei', N'Kon Tum')
INSERT [dbo].[DiaChiNguoiDung] ([MaDiaChi], [MaTK], [DiaChiChiTiet], [MacDinh], [TenNguoiNhan], [SoDienThoai], [MaTinhThanh], [MaQuanHuyen], [MaPhuongXa], [PhuongXa], [QuanHuyen], [TinhTP]) VALUES (21, 5, N'98', 0, N'Phan Thuan', N'0961112233', N'258', N'1778', N'471007', N'Xã Tân Hải', N'Thị xã La Gi', N'Bình Thuận')
SET IDENTITY_INSERT [dbo].[DiaChiNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaDiaChi], [NgayDat], [NgayYeuCau], [NgayGiaoThucTe], [PhiVanChuyen], [TongTien], [GiamGia], [PhuongThucThanhToan], [TrangThaiThanhToan], [TrangThaiDonHang], [GhiChu], [NgayGiao], [MaVanDon]) VALUES (4058, 5, 21, CAST(N'2025-11-07T01:13:58.227' AS DateTime), CAST(N'2025-11-10T01:13:58.227' AS DateTime), NULL, CAST(29230.00 AS Decimal(10, 2)), CAST(1775230.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Thanh toán khi nhận hàng', N'ChuaThanhToan', N'DangXuLy', NULL, NULL, NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaDiaChi], [NgayDat], [NgayYeuCau], [NgayGiaoThucTe], [PhiVanChuyen], [TongTien], [GiamGia], [PhuongThucThanhToan], [TrangThaiThanhToan], [TrangThaiDonHang], [GhiChu], [NgayGiao], [MaVanDon]) VALUES (4059, 5, 21, CAST(N'2025-11-07T01:30:06.173' AS DateTime), CAST(N'2025-11-10T01:30:06.173' AS DateTime), NULL, CAST(20500.00 AS Decimal(10, 2)), CAST(884500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Ví VNPAY', N'ChuaThanhToan', N'DangXuLy', NULL, NULL, NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaDiaChi], [NgayDat], [NgayYeuCau], [NgayGiaoThucTe], [PhiVanChuyen], [TongTien], [GiamGia], [PhuongThucThanhToan], [TrangThaiThanhToan], [TrangThaiDonHang], [GhiChu], [NgayGiao], [MaVanDon]) VALUES (4060, 5, 21, CAST(N'2025-11-07T01:30:54.897' AS DateTime), CAST(N'2025-11-10T01:30:54.897' AS DateTime), NULL, CAST(20500.00 AS Decimal(10, 2)), CAST(223000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'PayPal', N'ChuaThanhToan', N'DangXuLy', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[FlashSale] ON 

INSERT [dbo].[FlashSale] ([Id], [MaSP], [ThoiGianBatDau], [ThoiGianKetThuc], [DiscountPercent]) VALUES (61, 25, CAST(N'2025-11-07T10:14:07.080' AS DateTime), CAST(N'2025-11-07T16:14:07.080' AS DateTime), 22)
INSERT [dbo].[FlashSale] ([Id], [MaSP], [ThoiGianBatDau], [ThoiGianKetThuc], [DiscountPercent]) VALUES (62, 17, CAST(N'2025-11-07T10:14:07.080' AS DateTime), CAST(N'2025-11-07T16:14:07.080' AS DateTime), 56)
INSERT [dbo].[FlashSale] ([Id], [MaSP], [ThoiGianBatDau], [ThoiGianKetThuc], [DiscountPercent]) VALUES (63, 2, CAST(N'2025-11-07T10:14:07.080' AS DateTime), CAST(N'2025-11-07T16:14:07.080' AS DateTime), 28)
SET IDENTITY_INSERT [dbo].[FlashSale] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaSP], [SoLuong], [NgayThem]) VALUES (1, 2, 1, 3, CAST(N'2025-07-18T15:15:01.020' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaSP], [SoLuong], [NgayThem]) VALUES (32, 7, 1, 2, CAST(N'2025-07-22T17:37:59.200' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaSP], [SoLuong], [NgayThem]) VALUES (3040, 9, 1, 1, CAST(N'2025-08-09T14:56:57.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaTK], [NgayLap], [TongTien], [PhuongThucThanhToan], [TrangThai]) VALUES (1, 1, CAST(N'2025-07-09T14:20:10.720' AS DateTime), CAST(2530000.00 AS Decimal(10, 2)), N'Tiền mặt', N'DaThanhToan')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaTK], [NgayLap], [TongTien], [PhuongThucThanhToan], [TrangThai]) VALUES (2, 2, CAST(N'2025-07-09T14:20:10.720' AS DateTime), CAST(1530000.00 AS Decimal(10, 2)), N'Momo', N'DaThanhToan')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[LuotTruyCap] ON 

INSERT [dbo].[LuotTruyCap] ([Id], [NgayTruyCap], [MaTK], [IPAddress], [UserAgent]) VALUES (1, CAST(N'2025-08-11T19:11:53.183' AS DateTime), NULL, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36')
INSERT [dbo].[LuotTruyCap] ([Id], [NgayTruyCap], [MaTK], [IPAddress], [UserAgent]) VALUES (2, CAST(N'2025-08-11T19:11:59.087' AS DateTime), NULL, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36')
INSERT [dbo].[LuotTruyCap] ([Id], [NgayTruyCap], [MaTK], [IPAddress], [UserAgent]) VALUES (3, CAST(N'2025-08-11T19:17:00.937' AS DateTime), NULL, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36')
GO
SET IDENTITY_INSERT [dbo].[LuotTruyCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (1, N'NCC Test', N'Địa chỉ NCC', N'0123456789', NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (2, N'thu', NULL, N'̀h̀', NULL)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhapKho] ON 

INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNCC], [NgayNhap], [TongTien], [GhiChu], [ConNo], [DaThanhToan], [ChietKhau], [HinhThucThanhToan], [MaTK], [ChiPhiPhatSinh], [TongHoaDonThucTe]) VALUES (2, 1, CAST(N'2025-08-03T15:08:41.693' AS DateTime), 2000000.0000, N'Nhập test sản phẩm MaSP = 2', 0.0000, 2000000.0000, 0, N'Tiền mặt', NULL, NULL, NULL)
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNCC], [NgayNhap], [TongTien], [GhiChu], [ConNo], [DaThanhToan], [ChietKhau], [HinhThucThanhToan], [MaTK], [ChiPhiPhatSinh], [TongHoaDonThucTe]) VALUES (3, 1, CAST(N'2025-08-10T00:00:00.000' AS DateTime), 15.0000, NULL, 0.0000, 15.0000, 0, N'Tiền mặt', 1, NULL, NULL)
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNCC], [NgayNhap], [TongTien], [GhiChu], [ConNo], [DaThanhToan], [ChietKhau], [HinhThucThanhToan], [MaTK], [ChiPhiPhatSinh], [TongHoaDonThucTe]) VALUES (8, 1, CAST(N'2025-10-31T00:00:00.000' AS DateTime), 13500000.0000, NULL, 14000000.0000, 0.0000, 0, N'Tiền mặt', 1, CAST(500000.00 AS Decimal(18, 2)), CAST(14000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanHoi] ON 

INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaTK], [MaSP], [DanhGia], [BinhLuan], [NgayGopY]) VALUES (1, 1, 1, 5, N'Sản phẩm rất đẹp, chắc chắn', CAST(N'2025-07-09T14:20:10.717' AS DateTime))
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaTK], [MaSP], [DanhGia], [BinhLuan], [NgayGopY]) VALUES (2, 2, 2, 4, N'Ghế ngồi êm, nhưng giao hàng hơi lâu', CAST(N'2025-07-09T14:20:10.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhanHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [DonGia], [SoLuong], [ImageURL], [MaDanhMuc], [ChieuRong], [ChieuCao], [ChieuSau], [MaThuongHieu], [GiaGoc], [NgayTao], [MarkupRatio], [TuDongCapNhatGiaBan], [Weight]) VALUES (1, N'Bàn gỗ sồi 1m2', N'Bàn gỗ sồi tự nhiên, chắc chắn', CAST(306000.00 AS Decimal(10, 2)), 83, N'https://bangheth.com/wp-content/uploads/2021/09/Ban-giam-doc-quan-ly-ete-van-soi-1m6.jpg', 1, 1200, 750, 600, NULL, CAST(152947.06 AS Decimal(18, 2)), CAST(N'2025-08-07T13:39:25.217' AS DateTime), CAST(2.00 AS Decimal(5, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamYeuThich] ON 

INSERT [dbo].[SanPhamYeuThich] ([Id], [MaTK], [MaSP], [NgayThem]) VALUES (2, 2, 4, CAST(N'2025-07-22T02:52:59.010' AS DateTime))
INSERT [dbo].[SanPhamYeuThich] ([Id], [MaTK], [MaSP], [NgayThem]) VALUES (22, 5, 1, CAST(N'2025-07-22T04:21:10.233' AS DateTime))
INSERT [dbo].[SanPhamYeuThich] ([Id], [MaTK], [MaSP], [NgayThem]) VALUES (23, 5, 5, CAST(N'2025-07-22T04:21:26.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[SanPhamYeuThich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [SDT], [DiaChi], [MatKhau], [VaiTro], [NgayTao], [Avatar]) VALUES (1, N'Nguyễn Hùng Duy', N'0@gmail.com', N'0123456789', N'123 Lê Lợi, Q1, TP.HCM', N'Abc@2025', N'Customer', CAST(N'2025-07-09T14:20:10.713' AS DateTime), N'/uploads/avatars/9d2884ff-ae14-4ecb-a35c-e1d209258525.jpg')
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [SDT], [DiaChi], [MatKhau], [VaiTro], [NgayTao], [Avatar]) VALUES (2, N'Hoàng Kim Thanh', N'1@gmail.com', N'0987654322', N'456 Lê Lai, Q10, TP.HCM', N'Abc@2025', N'Customer', CAST(N'2025-07-09T14:20:10.713' AS DateTime), N'/uploads/avatars/124215d4-95e9-444e-975d-920d28ca42c7.png')
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [SDT], [DiaChi], [MatKhau], [VaiTro], [NgayTao], [Avatar]) VALUES (3, N'Admin', N'admin@gmail.com', N'0111222333', N'Trung tâm admin', N'Admin@2025', N'Admin', CAST(N'2025-07-09T14:20:10.713' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TinNhan] ON 

INSERT [dbo].[TinNhan] ([MaTinNhan], [NguoiGuiId], [NguoiNhanId], [NoiDung], [ThoiGianGui], [DaXem], [NgayGui]) VALUES (1, 5, 3, N'Alo', CAST(N'2025-08-12T18:06:57.063' AS DateTime), 0, CAST(N'2025-08-12T18:06:57.063' AS DateTime))
INSERT [dbo].[TinNhan] ([MaTinNhan], [NguoiGuiId], [NguoiNhanId], [NoiDung], [ThoiGianGui], [DaXem], [NgayGui]) VALUES (2, 5, 3, N'Ad ơi', CAST(N'2025-08-12T18:12:41.440' AS DateTime), 0, CAST(N'2025-08-12T18:12:41.440' AS DateTime))
INSERT [dbo].[TinNhan] ([MaTinNhan], [NguoiGuiId], [NguoiNhanId], [NoiDung], [ThoiGianGui], [DaXem], [NgayGui]) VALUES (3, 2, 3, N'Ad ơi', CAST(N'2025-08-12T19:47:16.030' AS DateTime), 0, CAST(N'2025-08-12T19:47:16.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[TinNhan] OFF
GO
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [Logo], [TenThuongHieu]) VALUES (1, N'https://vn4u.vn/wp-content/uploads/2023/09/logo-co-tinh-nhat-quan-2.png', N'pto')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [Logo], [TenThuongHieu]) VALUES (2, N'/uploads/teo.png', N'super')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [Logo], [TenThuongHieu]) VALUES (3, N'https://danviet-24h.ex-cdn.com/files/upload/1-2021/images/2021-02-26/image50-1614333620-651-width500height800.jpg', N'super')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534789B3B79]    Script Date: 08/11/2025 3:28:15 SA ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietNhapKho] ADD  DEFAULT ((0)) FOR [GiaVonDonVi]
GO
ALTER TABLE [dbo].[LuotTruyCap] ADD  DEFAULT (getdate()) FOR [NgayTruyCap]
GO
ALTER TABLE [dbo].[NhapKho] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[NhapKho] ADD  DEFAULT ((0)) FOR [ChiPhiPhatSinh]
GO
ALTER TABLE [dbo].[NhapKho] ADD  DEFAULT ((0)) FOR [TongHoaDonThucTe]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1.5)) FOR [MarkupRatio]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TuDongCapNhatGiaBan]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[TinNhan] ADD  DEFAULT (getdate()) FOR [ThoiGianGui]
GO
ALTER TABLE [dbo].[TinNhan] ADD  DEFAULT ((0)) FOR [DaXem]
GO
ALTER TABLE [dbo].[TinNhan] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaNhapKho])
REFERENCES [dbo].[NhapKho] ([MaNhapKho])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_SanPham]
GO
ALTER TABLE [dbo].[Decor]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DiaChiNguoiDung]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DiaChiNguoiDung] ([MaDiaChi])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[LuotTruyCap]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_TaiKhoan]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[PhuongXa]  WITH CHECK ADD  CONSTRAINT [FK_PhuongXa_QuanHuyen] FOREIGN KEY([MaQuanHuyen])
REFERENCES [dbo].[QuanHuyen] ([MaQuanHuyen])
GO
ALTER TABLE [dbo].[PhuongXa] CHECK CONSTRAINT [FK_PhuongXa_QuanHuyen]
GO
ALTER TABLE [dbo].[QuanHuyen]  WITH CHECK ADD  CONSTRAINT [FK_QuanHuyen_TinhThanh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
GO
ALTER TABLE [dbo].[QuanHuyen] CHECK CONSTRAINT [FK_QuanHuyen_TinhThanh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__MaDanhM__6D0D32F4] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__MaDanhM__6D0D32F4]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ThuongHieu] FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ThuongHieu]
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD  CONSTRAINT [FK_TinNhan_NguoiGui] FOREIGN KEY([NguoiGuiId])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[TinNhan] CHECK CONSTRAINT [FK_TinNhan_NguoiGui]
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD  CONSTRAINT [FK_TinNhan_NguoiNhan] FOREIGN KEY([NguoiNhanId])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[TinNhan] CHECK CONSTRAINT [FK_TinNhan_NguoiNhan]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD CHECK  (([Diem]>=(1) AND [Diem]<=(5)))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TrangThaiThanhToan] CHECK  (([TrangThaiThanhToan]='ChuaThanhToan' OR [TrangThaiThanhToan]='ThatBai' OR [TrangThaiThanhToan]='ChoThanhToan' OR [TrangThaiThanhToan]='DaThanhToan'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_TrangThaiDonHang] CHECK  (([TrangThaiDonHang]='ChoXacNhan' OR [TrangThaiDonHang]='HuyDon' OR [TrangThaiDonHang]='DangXuLy' OR [TrangThaiDonHang]='DangGiao' OR [TrangThaiDonHang]='DaGiao'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_TrangThaiDonHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TrangThai]='DaHuy' OR [TrangThai]='ChuaThanhToan' OR [TrangThai]='DaThanhToan'))
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD CHECK  (([DanhGia]>=(1) AND [DanhGia]<=(5)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]='Customer' OR [VaiTro]='Admin'))
GO
USE [master]
GO
