USE [master]
GO
/****** Object:  Database [NoiThat]    Script Date: 8/1/2025 6:38:58 PM ******/
CREATE DATABASE [NoiThat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoiThat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NoiThat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoiThat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NoiThat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoiThat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoiThat]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGias]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Diem] [int] NULL,
	[BinhLuan] [nvarchar](500) NULL,
	[ThoiGian] [datetime] NULL,
	[SanPhamId] [int] NOT NULL,
	[TenNguoiDung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK__DanhMuc__B375088753BB063D] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucDecor]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucDecor](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decor]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decor](
	[MaDecor] [int] IDENTITY(1,1) NOT NULL,
	[TenDecor] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Link3D] [nvarchar](255) NULL,
	[NgayThem] [datetime] NULL,
	[MaTK] [int] NULL,
	[MaDanhMuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDecor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiNguoiDung]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiNguoiDung](
	[MaDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[DiaChiChiTiet] [nvarchar](max) NOT NULL,
	[TinhTP] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[MacDinh] [bit] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[MaDiaChi] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayYeuCau] [datetime] NULL,
	[NgayGiaoThucTe] [datetime] NULL,
	[PhiVanChuyen] [decimal](10, 2) NULL,
	[TongTien] [decimal](10, 2) NULL,
	[GiamGia] [decimal](10, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThaiThanhToan] [nvarchar](20) NULL,
	[TrangThaiDonHang] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayGiao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashSale]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashSale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[DiscountPercent] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [int] NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhapKho] [int] NOT NULL,
	[MaSP] [int] NULL,
	[MaNCC] [int] NULL,
	[MaTK] [int] NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[GiaBanRa] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [date] NULL,
	[ThueChiPhiVanChuyen] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[MaSP] [int] NULL,
	[DanhGia] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayGopY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[MaDanhMuc] [int] NULL,
	[ChieuRong] [int] NULL,
	[ChieuCao] [int] NULL,
	[ChieuSau] [int] NULL,
	[MaThuongHieu] [int] NULL,
	[GiaGoc] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamYeuThich]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamYeuThich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[Avatar] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 8/1/2025 6:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaThuongHieu] [int] NOT NULL,
	[Logo] [varchar](255) NULL,
	[TenThuongHieu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 1, 1, CAST(2500000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (2, 2, 2, 1, CAST(1500000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (3, 10, 1, 3, CAST(2500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGias] ON 

INSERT [dbo].[DanhGias] ([Id], [Diem], [BinhLuan], [ThoiGian], [SanPhamId], [TenNguoiDung]) VALUES (1, 5, N'Sản phẩm rất đẹp, giao hàng nhanh!', CAST(N'2025-07-12T08:44:57.887' AS DateTime), 1, N'Nguyễn Văn A')
INSERT [dbo].[DanhGias] ([Id], [Diem], [BinhLuan], [ThoiGian], [SanPhamId], [TenNguoiDung]) VALUES (2, 5, N'alo', CAST(N'2025-07-12T10:38:12.383' AS DateTime), 27, N'Phan Thuan')
INSERT [dbo].[DanhGias] ([Id], [Diem], [BinhLuan], [ThoiGian], [SanPhamId], [TenNguoiDung]) VALUES (3, 4, N'cũng dc', CAST(N'2025-07-12T10:38:50.317' AS DateTime), 27, N'Admin Chính')
SET IDENTITY_INSERT [dbo].[DanhGias] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [Logo]) VALUES (1, N'Bàn làm việc', N'Cao cấp, chất liệu gỗ', N'https://hoaphatnoithat.net.vn/wp-content/uploads/2021/04/ban-lam-viec-at120shl3df.jpg')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [Logo]) VALUES (2, N'Ghế văn phòng', N'Nhiều kiểu dáng hiện đại', N'https://noithatdangkhoa.com/wp-content/uploads/2024/06/ghe-xoay-luoi-van-phong-gxdk13.jpg')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [Logo]) VALUES (3, N'Tủ kệ trang trí', N'Thiết kế tinh tế', N'https://noithatgiakho.com/upload/sanpham/large/ke-trang-tri-ntmd06-1122-1f0e3d.jpg')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucDecor] ON 

INSERT [dbo].[DanhMucDecor] ([MaDanhMuc], [TenDanhMuc], [Logo]) VALUES (1, N'Phòng khách', NULL)
INSERT [dbo].[DanhMucDecor] ([MaDanhMuc], [TenDanhMuc], [Logo]) VALUES (2, N'Phòng ngủ', NULL)
INSERT [dbo].[DanhMucDecor] ([MaDanhMuc], [TenDanhMuc], [Logo]) VALUES (3, N'Phòng ăn', NULL)
SET IDENTITY_INSERT [dbo].[DanhMucDecor] OFF
GO
SET IDENTITY_INSERT [dbo].[Decor] ON 

INSERT [dbo].[Decor] ([MaDecor], [TenDecor], [MoTa], [Link3D], [NgayThem], [MaTK], [MaDanhMuc]) VALUES (1, N'Décor 3D Sofa hiện đại', N'Mô hình nội thất đẹp mắt, tương thích Sketchfab Viewer.', N'38a23dfe6bc94c5088800a128c482af0', CAST(N'2025-07-23T14:44:26.290' AS DateTime), NULL, 1)
INSERT [dbo].[Decor] ([MaDecor], [TenDecor], [MoTa], [Link3D], [NgayThem], [MaTK], [MaDanhMuc]) VALUES (2, N'Tủ sách hiện đại', N'Tủ sách bằng gỗ sồi, thiết kế mở, phù hợp không gian hiện đại.', N'6db0b351424141099e30834c6115f40a', CAST(N'2025-07-23T15:00:33.177' AS DateTime), NULL, 1)
INSERT [dbo].[Decor] ([MaDecor], [TenDecor], [MoTa], [Link3D], [NgayThem], [MaTK], [MaDanhMuc]) VALUES (3, N'Đèn trần nghệ thuật', N'Chiếc đèn trần với thiết kế hiện đại, ánh sáng LED dịu nhẹ.', N'80957ee0602b4de3a183bfb8addd6824', CAST(N'2025-07-23T15:00:33.177' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Decor] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChiNguoiDung] ON 

INSERT [dbo].[DiaChiNguoiDung] ([MaDiaChi], [MaTK], [DiaChiChiTiet], [TinhTP], [QuanHuyen], [PhuongXa], [MacDinh], [TenNguoiNhan], [SoDienThoai]) VALUES (1, 1, N'123 Lê Lợi, Quận 1', N'TP.HCM', N'Quận 1', N'Phường Bến Thành', 1, NULL, NULL)
INSERT [dbo].[DiaChiNguoiDung] ([MaDiaChi], [MaTK], [DiaChiChiTiet], [TinhTP], [QuanHuyen], [PhuongXa], [MacDinh], [TenNguoiNhan], [SoDienThoai]) VALUES (2, 2, N'456 Lê Lai, Quận 10', N'TP.HCM', N'Quận 10', N'Phường 12', 1, NULL, NULL)
INSERT [dbo].[DiaChiNguoiDung] ([MaDiaChi], [MaTK], [DiaChiChiTiet], [TinhTP], [QuanHuyen], [PhuongXa], [MacDinh], [TenNguoiNhan], [SoDienThoai]) VALUES (3, 5, N'119/2 NTT', N'HCM', N'7', N'Tân Phú', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DiaChiNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaDiaChi], [NgayDat], [NgayYeuCau], [NgayGiaoThucTe], [PhiVanChuyen], [TongTien], [GiamGia], [PhuongThucThanhToan], [TrangThaiThanhToan], [TrangThaiDonHang], [GhiChu], [NgayGiao]) VALUES (1, 1, 1, CAST(N'2025-07-09T14:20:10.717' AS DateTime), CAST(N'2025-07-09T14:20:10.717' AS DateTime), NULL, CAST(30000.00 AS Decimal(10, 2)), CAST(2530000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Tiền mặt', N'DaThanhToan', N'DaGiao', N'Giao buổi sáng', NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaDiaChi], [NgayDat], [NgayYeuCau], [NgayGiaoThucTe], [PhiVanChuyen], [TongTien], [GiamGia], [PhuongThucThanhToan], [TrangThaiThanhToan], [TrangThaiDonHang], [GhiChu], [NgayGiao]) VALUES (2, 2, 2, CAST(N'2025-07-09T14:20:10.717' AS DateTime), CAST(N'2025-07-09T14:20:10.717' AS DateTime), NULL, CAST(30000.00 AS Decimal(10, 2)), CAST(1530000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Momo', N'DaThanhToan', N'DangGiao', NULL, NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaDiaChi], [NgayDat], [NgayYeuCau], [NgayGiaoThucTe], [PhiVanChuyen], [TongTien], [GiamGia], [PhuongThucThanhToan], [TrangThaiThanhToan], [TrangThaiDonHang], [GhiChu], [NgayGiao]) VALUES (10, 5, 1, CAST(N'2025-07-18T15:32:46.863' AS DateTime), CAST(N'2025-07-21T15:32:46.863' AS DateTime), NULL, CAST(0.00 AS Decimal(10, 2)), CAST(20900000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'COD', N'DaThanhToan', N'HuyDon', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[FlashSale] ON 

INSERT [dbo].[FlashSale] ([Id], [MaSP], [ThoiGianBatDau], [ThoiGianKetThuc], [DiscountPercent]) VALUES (1, 13, CAST(N'2025-08-01T18:29:09.490' AS DateTime), CAST(N'2025-08-02T00:29:09.490' AS DateTime), 20)
INSERT [dbo].[FlashSale] ([Id], [MaSP], [ThoiGianBatDau], [ThoiGianKetThuc], [DiscountPercent]) VALUES (2, 9, CAST(N'2025-08-01T18:29:09.490' AS DateTime), CAST(N'2025-08-02T00:29:09.490' AS DateTime), 24)
INSERT [dbo].[FlashSale] ([Id], [MaSP], [ThoiGianBatDau], [ThoiGianKetThuc], [DiscountPercent]) VALUES (3, 14, CAST(N'2025-08-01T18:29:09.490' AS DateTime), CAST(N'2025-08-02T00:29:09.490' AS DateTime), 60)
SET IDENTITY_INSERT [dbo].[FlashSale] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaSP], [SoLuong], [NgayThem]) VALUES (1, 2, 1, 3, CAST(N'2025-07-18T15:15:01.020' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaSP], [SoLuong], [NgayThem]) VALUES (29, 5, 6, 1, CAST(N'2025-07-22T07:41:58.047' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaSP], [SoLuong], [NgayThem]) VALUES (32, 7, 1, 2, CAST(N'2025-07-22T17:37:59.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaTK], [NgayLap], [TongTien], [PhuongThucThanhToan], [TrangThai]) VALUES (1, 1, CAST(N'2025-07-09T14:20:10.720' AS DateTime), CAST(2530000.00 AS Decimal(10, 2)), N'Tiền mặt', N'DaThanhToan')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaTK], [NgayLap], [TongTien], [PhuongThucThanhToan], [TrangThai]) VALUES (2, 2, CAST(N'2025-07-09T14:20:10.720' AS DateTime), CAST(1530000.00 AS Decimal(10, 2)), N'Momo', N'DaThanhToan')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanHoi] ON 

INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaTK], [MaSP], [DanhGia], [BinhLuan], [NgayGopY]) VALUES (1, 1, 1, 5, N'Sản phẩm rất đẹp, chắc chắn', CAST(N'2025-07-09T14:20:10.717' AS DateTime))
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaTK], [MaSP], [DanhGia], [BinhLuan], [NgayGopY]) VALUES (2, 2, 2, 4, N'Ghế ngồi êm, nhưng giao hàng hơi lâu', CAST(N'2025-07-09T14:20:10.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhanHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [DonGia], [SoLuong], [ImageURL], [MaDanhMuc], [ChieuRong], [ChieuCao], [ChieuSau], [MaThuongHieu], [GiaGoc]) VALUES (1, N'Bàn gỗ sồi 1m2', N'Bàn gỗ sồi tự nhiên, chắc chắn', CAST(1350000.00 AS Decimal(10, 2)), 3, N'https://bangheth.com/wp-content/uploads/2021/09/Ban-giam-doc-quan-ly-ete-van-soi-1m6.jpg', 1, 1200, 750, 600, NULL, CAST(2500000.00 AS Decimal(18, 2)))
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [DonGia], [SoLuong], [ImageURL], [MaDanhMuc], [ChieuRong], [ChieuCao], [ChieuSau], [MaThuongHieu], [GiaGoc]) VALUES (2, N'Ghế xoay lưới', N'Ghế xoay cao cấp có tay vịn', CAST(1500000.00 AS Decimal(10, 2)), 11, N'https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcS_MW212zuOhrTftnZ4YbH6MpvbT21aapY7KJ-gfa3B_gsquTYrPnL_lqZXDIMUpI4xmFTPv9PzXrRIxYo135ZJYy0C7xqwxUdjumqKtffGCCRRvRXH9ZyGXc9lyaAV&usqp=CAc', 2, 600, 1000, 600, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [DonGia], [SoLuong], [ImageURL], [MaDanhMuc], [ChieuRong], [ChieuCao], [ChieuSau], [MaThuongHieu], [GiaGoc]) VALUES (3, N'Tủ sách đứng', N'Tủ gỗ MDF phủ melamine', CAST(2200000.00 AS Decimal(10, 2)), 6, N'https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTkmsCGPhJvhnzZC3g_e-uK4CIWEd1o0F-7eCOPtJtZYMAExXu8ntc5w-JxZzmV0SECLprsEzPfkqt8M6_EcyuoD0D0eycXyhSjTQ9ROtVxnQLOH6sjVtyG&usqp=CAc', 3, 800, 1800, 300, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamYeuThich] ON 

INSERT [dbo].[SanPhamYeuThich] ([Id], [MaTK], [MaSP], [NgayThem]) VALUES (2, 2, 4, CAST(N'2025-07-22T02:52:59.010' AS DateTime))
INSERT [dbo].[SanPhamYeuThich] ([Id], [MaTK], [MaSP], [NgayThem]) VALUES (22, 5, 1, CAST(N'2025-07-22T04:21:10.233' AS DateTime))
INSERT [dbo].[SanPhamYeuThich] ([Id], [MaTK], [MaSP], [NgayThem]) VALUES (23, 5, 5, CAST(N'2025-07-22T04:21:26.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[SanPhamYeuThich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [SDT], [DiaChi], [MatKhau], [VaiTro], [NgayTao], [Avatar]) VALUES (1, N'Nguyễn Hùng Duy', N'0@gmail.com', N'0123456789', N'123 Lê Lợi, Q1, TP.HCM', N'0', N'Customer', CAST(N'2025-07-09T14:20:10.713' AS DateTime), NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [SDT], [DiaChi], [MatKhau], [VaiTro], [NgayTao], [Avatar]) VALUES (2, N'Hoàng Kim Thanh', N'1@gmail.com', N'0987654322', N'456 Lê Lai, Q10, TP.HCM', N'1', N'Customer', CAST(N'2025-07-09T14:20:10.713' AS DateTime), N'/uploads/avatars/124215d4-95e9-444e-975d-920d28ca42c7.png')
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [SDT], [DiaChi], [MatKhau], [VaiTro], [NgayTao], [Avatar]) VALUES (3, N'Admin', N'admin@gmail.com', N'0111222333', N'Trung tâm admin', N'1', N'Admin', CAST(N'2025-07-09T14:20:10.713' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [Logo], [TenThuongHieu]) VALUES (1, N'https://vn4u.vn/wp-content/uploads/2023/09/logo-co-tinh-nhat-quan-2.png', N'pto')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [Logo], [TenThuongHieu]) VALUES (2, N'/uploads/teo.png', N'super')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [Logo], [TenThuongHieu]) VALUES (3, N'https://danviet-24h.ex-cdn.com/files/upload/1-2021/images/2021-02-26/image50-1614333620-651-width500height800.jpg', N'super')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534AAC35CC2]    Script Date: 8/1/2025 6:38:58 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FlashSale] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_SanPham]
GO
ALTER TABLE [dbo].[Decor]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DiaChiNguoiDung]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DiaChiNguoiDung] ([MaDiaChi])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[FlashSale]  WITH CHECK ADD  CONSTRAINT [FK_FlashSale_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[FlashSale] CHECK CONSTRAINT [FK_FlashSale_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_NhaCungCap]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_SanPham]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_TaiKhoan]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__MaDanhM__6D0D32F4] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__MaDanhM__6D0D32F4]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ThuongHieu] FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ThuongHieu]
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD CHECK  (([Diem]>=(1) AND [Diem]<=(5)))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TrangThaiThanhToan] CHECK  (([TrangThaiThanhToan]='ChuaThanhToan' OR [TrangThaiThanhToan]='ThatBai' OR [TrangThaiThanhToan]='ChoThanhToan' OR [TrangThaiThanhToan]='DaThanhToan'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_TrangThaiDonHang] CHECK  (([TrangThaiDonHang]='ChoXacNhan' OR [TrangThaiDonHang]='HuyDon' OR [TrangThaiDonHang]='DangXuLy' OR [TrangThaiDonHang]='DangGiao' OR [TrangThaiDonHang]='DaGiao'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_TrangThaiDonHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TrangThai]='DaHuy' OR [TrangThai]='ChuaThanhToan' OR [TrangThai]='DaThanhToan'))
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD CHECK  (([DanhGia]>=(1) AND [DanhGia]<=(5)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]='Customer' OR [VaiTro]='Admin'))
GO
USE [master]
GO
