
@model Final_Project.Models.ViewModels.SanPhamViewModel
@{
    ViewData["Title"] = "Thêm sản phẩm";
}
<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">

<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Admin/css/animate.css">

<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="~/Admin/css/style.css">



<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TenSP">Tên sản phẩm</label>
        <input asp-for="TenSP" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MoTa">Mô tả</label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DonGia">Đơn giá</label>
        <input asp-for="DonGia" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GiaGoc">Giá gốc</label>
        <input asp-for="GiaGoc" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SoLuong">Số lượng</label>
        <input asp-for="SoLuong" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ImageUpload">Hình ảnh</label>
        <input asp-for="ImageUpload" type="file" class="form-control" />
    </div>

    <div class="form-group">
        <label for="MaDanhMuc">Danh mục</label>
        @Html.DropDownListFor(model => model.MaDanhMuc, (SelectList)ViewBag.DanhMucList, "Chọn danh mục", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="MaThuongHieu">Thương hiệu</label>
        @Html.DropDownListFor(model => model.MaThuongHieu, (SelectList)ViewBag.ThuongHieuList, "Chọn thương hiệu", new { @class = "form-control" })
    </div>


    <div class="form-group">
        <label asp-for="ChieuRong">Chiều rộng</label>
        <input asp-for="ChieuRong" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ChieuCao">Chiều cao</label>
        <input asp-for="ChieuCao" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ChieuSau">Chiều sâu</label>
        <input asp-for="ChieuSau" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>

<script>
    document.querySelector('input[type="file"]').addEventListener('change', function (e) {
        const reader = new FileReader();
        reader.onload = function () {
            const imgPreview = document.createElement('img');
            imgPreview.src = reader.result;
            imgPreview.style.maxWidth = '200px';
            document.body.appendChild(imgPreview);
        }
        reader.readAsDataURL(e.target.files[0]);
    });
</script>


<script src="~/Admin/js/jquery-3.6.0.min.js"></script>

<script src="~/Admin/js/feather.min.js"></script>

<script src="~/Admin/js/jquery.slimscroll.min.js"></script>

<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Admin/js/bootstrap.bundle.min.js"></script>

<script src="~/Admin/plugins/select2/js/select2.min.js"></script>

<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="~/Admin/js/script.js"></script>
