@using Final_Project.Models.Shop
@model IEnumerable<SanPham>

@{

    ViewData["Title"] = "Sản phẩm nổi bật";
}
<style>
	.container .ps-section__content {
    min-height: 340px;
}
	.suggestion-card {
     border: 1px solid #dee2e6 !important; 
    margin-bottom: 0.5rem !important;
    text-align: center !important;
    border: 1px solid #dee2e6 !important;
}
img.suggestion-img {
    max-width: 208px;
}
</style>
<div class="container mt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="/products/sofa" class="text-decoration-none text-dark">Sofa & Ghế</a></li>
                <li class="list-group-item"><a href="/products/ban" class="text-decoration-none text-dark">Bàn Ăn & Bàn Làm Việc</a></li>
                <li class="list-group-item"><a href="/products/tu-ke" class="text-decoration-none text-dark">Tủ & Kệ</a></li>
                <li class="list-group-item"><a href="/products/giuong" class="text-decoration-none text-dark">Giường & Nệm</a></li>
                <li class="list-group-item"><a href="/products/den" class="text-decoration-none text-dark">Đèn Trang Trí</a></li>
                <li class="list-group-item"><a href="/products/rem-tham" class="text-decoration-none text-dark">Rèm Cửa & Thảm</a></li>
                <li class="list-group-item"><a href="/products/trang-tri-tuong" class="text-decoration-none text-dark">Trang Trí Tường</a></li>
                <li class="list-group-item"><a href="/products/nha-bep" class="text-decoration-none text-dark">Dụng Cụ Nhà Bếp</a></li>
                <li class="list-group-item"><a href="/products/chan-ga-goi" class="text-decoration-none text-dark">Chăn Ga Gối Nệm</a></li>
                <li class="list-group-item"><a href="/products/ngoai-troi" class="text-decoration-none text-dark">Đồ Nội Thất Ngoài Trời</a></li>
                <li class="list-group-item"><a href="/products/phu-kien" class="text-decoration-none text-dark">Phụ Kiện Trang Trí</a></li>
            </ul>
        </div>

        <!-- Banner & Ads (Carousel) -->
        <div class="col-md-6">
            <div id="mainCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://rubicmarketing.com/wp-content/uploads/2021/09/thiet-ke-banner-quang-cao-noi-that-3.jpg" class="d-block w-100 rounded" alt="Slide 1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://noithatzear.vn/wp-content/uploads/2023/09/Mau-banner-noi-that-danh-cho-cong-ty.png" class="d-block w-100 rounded" alt="Slide 2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://noithatzear.vn/wp-content/uploads/2023/09/Mau-banner-noi-that-dep.png" class="d-block w-100 rounded" alt="Slide 3">
                    </div>
                    <div class="carousel-item">
                        <img src="https://noithatzear.vn/wp-content/uploads/2023/09/Banner-noi-that.png" class="d-block w-100 rounded" alt="Slide 4">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- 3 Banner nhỏ -->
            <div class="row">
                <div class="col-4">
                    <div class="bg-white border text-center p-2 mb-2">
                        <small>UP TO 30% OFF</small><br />
                        <img src="https://i.pinimg.com/736x/6b/81/3f/6b813ff256e49639e8e85f254d296807.jpg" alt="Promo 1" class="promo-img img-fluid" />
                        <p>For all hand purses</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bg-white border text-center p-2 mb-2">
                        <small>EXPLORE THE BIGGEST</small><br />
                        <img src="https://i.pinimg.com/1200x/09/d4/ab/09d4ab5fa1e729587c0526567f9f42a7.jpg" alt="Promo 2" class="promo-img img-fluid" />
                        <p>Time Zone</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bg-white border text-center p-2 mb-2">
                        <small>DON’T MISS THE YEAR</small><br />
                        <img src="https://i.pinimg.com/1200x/4d/d7/ab/4dd7abbcf183a108ccd041879c931df6.jpg" alt="Promo 3" class="promo-img img-fluid" />
                        <p>7 days left</p>
                    </div>
                </div>
            </div>
        </div>

		<!-- Right Suggestions -->
<div class="sidebar-suggestions col-md-3">
    <div class="suggestion-card">
        <small class="suggestion-title">Recently Viewed</small><br />
        <img src="https://i.pinimg.com/1200x/ee/16/29/ee1629f6518a827c1dbc88e1d4315118.jpg" 
             alt="Recently Viewed" 
             class="suggestion-img" />
        <p class="suggestion-link">
            <a href="#">See your browsing history</a>
        </p>
    </div>

    <div class="suggestion-card">
        <small class="suggestion-title">Suggestions for You</small><br />
        <img src="https://i.pinimg.com/1200x/05/ac/d3/05acd3cdde303e1e9b0f60fd73dcab40.jpg" 
             alt="Suggestions" 
             class="suggestion-img" />
        <p class="suggestion-link">
            <a href="#">Watch more</a>
        </p>
    </div>
</div>

</div>
<div class="ps-site-features">
		<div class="ps-container">
			<div class="ps-block--site-features">
				<div class='ps-block__item'>
					<div class='ps-block__left'>
						<i class='icon-rocket'></i>
					</div>
					<div class='ps-block__right'>
						<h4>Pengiriman gratis</h4>
						<p>
							 Untuk pesanan min Rp 999.000
						</p>
					</div>
				</div>
				<div class='ps-block__item'>
					<div class='ps-block__left'>
						<i class='icon-sync'></i>
					</div>
					<div class='ps-block__right'>
						<h4>90 uang Kembali</h4>
						<p>
							 Jika barang Bermasalah
						</p>
					</div>
				</div>
				<div class='ps-block__item'>
					<div class='ps-block__left'>
						<i class='icon-credit-card'></i>
					</div>
					<div class='ps-block__right'>
						<h4>Pembayaran aman</h4>
						<p>
							 Pembayaran aman 100%
						</p>
					</div>
				</div>
				<div class='ps-block__item'>
					<div class='ps-block__left'>
						<i class='icon-bubbles'></i>
					</div>
					<div class='ps-block__right'>
						<h4>Dukungan 1 x 24 jam</h4>
						<p>
							 Dukungan khusus untuk anda
						</p>
					</div>
				</div>
				<div class='ps-block__item'>
					<div class='ps-block__left'>
						<i class='icon-gift'></i>
					</div>
					<div class='ps-block__right'>
						<h4>Layanan Hadiah</h4>
						<p>
							 Mendukung layanan hadiah
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-deal-of-day">
		<div class="ps-container">
			<div class="ps-section__header">
				<div class="ps-block--countdown-deal">
					<div class="ps-block__left">
						<h3>Penawaran Berakhir</h3>
					</div>
					<div class="ps-block__right">
						<figure>
						<figcaption></figcaption>
						<span style='display:none' id='berakhir'>0:12:40:44</span>
						<ul class="ps-countdown d-none d-sm-block" data-time="">
							<li>
								<span class="days"></span> Hari
							</li>
							<li>
								<span class="hours"></span> Jam
							</li>
							<li>
								<span class="minutes"></span> Menit
							</li>
							<li>
								<span class="seconds"></span> Detik
							</li>
						</ul>
						<ul class="ps-countdown d-block d-sm-none" data-time="">
							<li>
								<span class="days"></span> Hari
							</li>
							<li>
								<span class="hours"></span> Jam
							</li>
							<li>
								<span class="minutes"></span> Menit
							</li>
							<li>
								<span class="seconds"></span>
							</li>
						</ul>
						</figure>
					</div>
				</div>
				<a class='d-none d-sm-block' href="#">Lihat Semua</a>
			</div>
			<div class="ps-section__content">
				<div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="5" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/RV71_27_Jeans_grande.jpg' alt='Segitiga Instan Aira- AA94.8 Minty Green'></a>
							<div class='ps-product__badge out-stock'>Habis Terjual</div>
							<ul class='ps-product__actions produk-2'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='2'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-2' title='Add to Whishlist'><i class='icon-heart' onclick="save('2',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>
								 Rp 250,000 <del>350,000</del>
							</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan Aira- AA94.8 Minty Gre,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 0
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/Emily_Grey_grande.jpg' alt='Pashmina Instan Rafella - RLN1.2 Gold Maroon'></a>
							<ul class='ps-product__actions produk-6'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='6'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-6' title='Add to Whishlist'><i class='icon-heart' onclick="save('6',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>Rp 75,000</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Pashmina Instan Rafella - RLN1.2 Gold ,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 34
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/22.png' alt='Segitiga Instan Madeira - MDB5.3 Sunset'></a>
							<ul class='ps-product__actions produk-4'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='4'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-4' title='Add to Whishlist'><i class='icon-heart' onclick="save('4',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>Rp 129,900</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan Madeira - MDB5.3 Sunse,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'>1</option>
										<option value='1'>2</option>
										<option value='1'>3</option>
										<option value='1'>4</option>
										<option value='2'>5</option>
									</select>
									<span>2</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 67
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//gamis5.jpg' alt='Rompi Kurta Hoodie Zip Dark Grey Semi Wol'></a>
							<ul class='ps-product__actions produk-9'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='9'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-9' title='Add to Whishlist'><i class='icon-heart' onclick="save('9',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>Rp 68,500</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Rompi Kurta Hoodie Zip Dark Grey Semi ,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 9
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//AD_19_20_Misty_Grey_grande.jpg' alt='Super Segiempat Rebya - RYB6.7 Pink Clover'></a>
							<ul class='ps-product__actions produk-20'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='20'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-20' title='Add to Whishlist'><i class='icon-heart' onclick="save('20',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>Rp 65,000</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Super Segiempat Rebya - RYB6.7 Pink C,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 12
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//AYD5_3_Mayra_Pink_grande.jpg' alt='Pashmina Instan Rafella - RLN1.1 Sweet Grey'></a>
							<ul class='ps-product__actions produk-7'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='7'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-7' title='Add to Whishlist'><i class='icon-heart' onclick="save('7',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>Rp 99,000</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Pashmina Instan Rafella - RLN1.1 Sweet,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 9
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class='ps-product ps-product--inner'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/gamis4.jpg' alt='Rompi Kurta Hoodie Zip Mentantarei YU-234'></a>
							<ul class='ps-product__actions produk-11'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='11'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-11' title='Add to Whishlist'><i class='icon-heart' onclick="save('11',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<p class='ps-product__price sale'>Rp 89,000</p>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Rompi Kurta Hoodie Zip Mentantarei YU-,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<div class='ps-product__progress-bar ps-progress' data-value='0'>
									<div class='ps-progress__value'>
										<span></span>
									</div>
									<p>
										 Terjual : 0 / 23
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="ps-home-ads">
		<div class="ps-container">
			<div class="row">
				<div class='col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 '>
					<a class='ps-collection' href='#' target='_blank'><img src='~/Users/img//3.jpg' alt='Home - Iklan Home No 3'/></a>
				</div>
				<div class='col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 '>
					<a class='ps-collection' href='#' target='_blank'><img src='~/Users/img//2.jpg' alt='Home - Iklan Home No 2'/></a>
				</div>
				<div class='col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 '>
					<a class='ps-collection' href='#' target='_blank'><img src='~/Users/img//1.jpg' alt='Home - Iklan Home No 1'/></a>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-top-categories">
		<div class="ps-container">
			<h3>Kategori Populer bulan ini</h3>
			<div class="row">
				<div class='col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 '>
					<div class='ps-block--category'>
						<a class='ps-block__overlay' href='#'></a><img style='width:210px;' src='~/Users/img//fashion.jpg' alt='fashion.jpg'/></a>
						<p>
							 Fashion & Busana Pria
						</p>
					</div>
				</div>
				<div class='col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 '>
					<div class='ps-block--category'>
						<a class='ps-block__overlay' href='#'></a><img style='width:210px;' src='~/Users/img//fashion_wanita.jpg' alt='fashion_wanita.jpg'/></a>
						<p>
							 Fashion & Busana Wanita
						</p>
					</div>
				</div>
				<div class='col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 '>
					<div class='ps-block--category'>
						<a class='ps-block__overlay' href='#'></a><img style='width:210px;' src='~/Users/img//kat1.jpg' alt='kat1.jpg'/></a>
						<p>
							 Perhiasan dan Aksesoris
						</p>
					</div>
				</div>
				<div class='col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 '>
					<div class='ps-block--category'>
						<a class='ps-block__overlay' href='#'></a><img style='width:210px;' src='~/Users/img//dapur1.jpg' alt='dapur1.jpg'/></a>
						<p>
							 Taman dan Alat Dapur
						</p>
					</div>
				</div>
				<div class='col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 '>
					<div class='ps-block--category'>
						<a class='ps-block__overlay' href='#'></a><img style='width:210px;' src='~/Users/img//perjalanan.jpg' alt='perjalanan.jpg'/></a>
						<p>
							 Tas, Koper & Perjalanan
						</p>
					</div>
				</div>
				<div class='col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6 '>
					<div class='ps-block--category'>
						<a class='ps-block__overlay' href='#'></a><img style='width:210px;' src='~/Users/img//Jewelry_Watch.jpg' alt='Jewelry_Watch.jpg'/></a>
						<p>
							 Perhiasan dan Jam Tangan
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-product-list ps-clothings">
		<div class="ps-container">
			<div class="ps-section__header">
				<h3>Perhiasan dan Aksesoris</h3>
				<ul class='ps-section__links'>
					<li>
						<a href='https://tajalapak.com/produk/kategori/perhiasan-dan-aksesoris'>Lihat Semua</a>
					</li>
				</ul>
			</div>
			<div class="ps-section__content">
				<div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//a4.jpg' alt='HP Business EliteBook X360 1020 G2'></a>
							<div class='ps-product__badge out-stock'>Habis Terjual</div>
							<ul class='ps-product__actions produk-23'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='23'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-23' title='Add to Whishlist'><i class='icon-heart' onclick="save('23',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Kalifah Umayyah</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>HP Business EliteBook X360 1020 G2</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>
									 Rp 31,020,000 <del>32,520,000</del>
								</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>HP Business EliteBook X360 1020 G2</a>
								<p class='ps-product__price sale'>
									 Rp 31,020,000 <del>32,520,000</del>
								</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//Capture111.JPG' alt='ACER Swift 7 (SF713-51) (Core i7-7Y75) - Gold'></a>
							<ul class='ps-product__actions produk-51'>
								<li>
									<a href='https://tajalapak.com/produk/detail/acer-swift-7-sf71351-core-i77y75--gold' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='51'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-51' title='Add to Whishlist'><i class='icon-heart' onclick="save('51',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>lagi Test</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>ACER Swift 7 (SF713-51) (Core i7-7Y75),..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 1,000,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>ACER Swift 7 (SF713-51) (Core i7-7Y75) - Gold</a>
								<p class='ps-product__price sale'>Rp 1,000,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//a7.jpg' alt='ACER Swift 7 (SF713-51) (Core i7-7Y75) - Gold'></a>
							<ul class='ps-product__actions produk-24'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='24'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-24' title='Add to Whishlist'><i class='icon-heart' onclick="save('24',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Kalifah Umayyah</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>ACER Swift 7 (SF713-51) (Core i7-7Y75),..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 22,465,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>ACER Swift 7 (SF713-51) (Core i7-7Y75) - Gold</a>
								<p class='ps-product__price sale'>Rp 22,465,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//a1.jpg' alt='Ultrabook Hackintosh Acer - I5 Haswell - 8 Gb - SSD'></a>
							<ul class='ps-product__actions produk-21'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='21'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-21' title='Add to Whishlist'><i class='icon-heart' onclick="save('21',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Kalifah Umayyah</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Ultrabook Hackintosh Acer - I5 Haswell,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 16,500,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Ultrabook Hackintosh Acer - I5 Haswell - 8 Gb - SSD</a>
								<p class='ps-product__price sale'>Rp 16,500,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//a2.jpg' alt='APPLE MacBook Pro - Space Gray - Intel Core i5 2.3GHz'></a>
							<ul class='ps-product__actions produk-22'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='22'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-22' title='Add to Whishlist'><i class='icon-heart' onclick="save('22',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Kalifah Umayyah</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>APPLE MacBook Pro - Space Gray - Intel,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 22,500,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>APPLE MacBook Pro - Space Gray - Intel Core i5 2.3GHz</a>
								<p class='ps-product__price sale'>Rp 22,500,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//carbon1.jpg' alt='LENOVO X1 Carbon Gen 6 [20KGA04GID]'></a>
							<ul class='ps-product__actions produk-26'>
								<li>
									<a href='https://tajalapak.com/produk/detail/lenovo-x1-carbon-gen-6-20kga04gid-121807' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='26'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-26' title='Add to Whishlist'><i class='icon-heart' onclick="save('26',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Kalifah Umayyah</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>LENOVO X1 Carbon Gen 6 [20KGA04GID]</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 35,750,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>LENOVO X1 Carbon Gen 6 [20KGA04GID]</a>
								<p class='ps-product__price sale'>Rp 35,750,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//a8.jpg' alt='DELL Business Latitude 7290 (Core i7-8650U)'></a>
							<ul class='ps-product__actions produk-25'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='25'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-25' title='Add to Whishlist'><i class='icon-heart' onclick="save('25',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Kalifah Umayyah</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>DELL Business Latitude 7290 (Core i7-8,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 22,449,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>DELL Business Latitude 7290 (Core i7-8650U)</a>
								<p class='ps-product__price sale'>Rp 22,449,000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-product-list ps-clothings">
		<div class="ps-container">
			<div class="ps-section__header">
				<h3>Fashion & Busana Wanita</h3>
				<ul class='ps-section__links'>
					<li>
						<a href='#'>Lihat Semua</a>
					</li>
				</ul>
			</div>
			<div class="ps-section__content">
				<div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//foto_produk/RYB6_1_Grey_grande.jpg' alt='Segitiga Instan Aira- AA94.9 Tropical Blue'></a>
							<ul class='ps-product__actions produk-1'>
								<li>
									<a href='https://tajalapak.com/produk/detail/segitiga-instan-aira-aa949-tropical-blue' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='1'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-1' title='Add to Whishlist'><i class='icon-heart' onclick="save('1',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan Aira- AA94.9 Tropical ,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 70,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Segitiga Instan Aira- AA94.9 Tropical Blue</a>
								<p class='ps-product__price sale'>Rp 70,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//Emily_Grey_grande.jpg' alt='Pashmina Instan Rafella - RLN1.2 Gold Maroon'></a>
							<ul class='ps-product__actions produk-6'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='6'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-6' title='Add to Whishlist'><i class='icon-heart' onclick="save('6',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Pashmina Instan Rafella - RLN1.2 Gold ,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 75,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Pashmina Instan Rafella - RLN1.2 Gold Maroon</a>
								<p class='ps-product__price sale'>Rp 75,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//RV71_5_Cold_Ocean_grande.jpg' alt='Segitiga Instan KEINA - KN54.38 Delfine Lilac'></a>
							<ul class='ps-product__actions produk-3'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='3'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-3' title='Add to Whishlist'><i class='icon-heart' onclick="save('3',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan KEINA - KN54.38 Delfin,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 169,980</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Segitiga Instan KEINA - KN54.38 Delfine Lilac</a>
								<p class='ps-product__price sale'>Rp 169,980</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//22.png' alt='Segitiga Instan Madeira - MDB5.3 Sunset'></a>
							<ul class='ps-product__actions produk-4'>
								<li>
									<a href='https://tajalapak.com/produk/detail/segitiga-instan-madeira--mdb53-sunset' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='4'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-4' title='Add to Whishlist'><i class='icon-heart' onclick="save('4',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan Madeira - MDB5.3 Sunse,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'>1</option>
										<option value='1'>2</option>
										<option value='1'>3</option>
										<option value='1'>4</option>
										<option value='2'>5</option>
									</select>
									<span>2</span>
								</div>
								<p class='ps-product__price sale'>Rp 129,900</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Segitiga Instan Madeira - MDB5.3 Sunset</a>
								<p class='ps-product__price sale'>Rp 129,900</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href=''><img src='~/Users/img//KYB4_14_Soft_Lavender_1024x1024_f993283a-dae0-4a05-b163-9f6b44465732_grande.jpg' alt='Segitiga Instan Madeira - MDB5.2 Ocean'></a>
							<ul class='ps-product__actions produk-5'>
								<li>
									<a href='https://tajalapak.com/produk/detail/segitiga-instan-madeira--mdb52-ocean-122317' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='5'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-5' title='Add to Whishlist'><i class='icon-heart' onclick="save('5',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href=''>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan Madeira - MDB5.2 Ocean</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 75,500</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Segitiga Instan Madeira - MDB5.2 Ocean</a>
								<p class='ps-product__price sale'>Rp 75,500</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//no-image.png' alt='Jilbab Syariah Indonesia raya Meriah'></a>
							<div class='ps-product__badge out-stock'>Habis Terjual</div>
							<ul class='ps-product__actions produk-55'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='55'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-55' title='Add to Whishlist'><i class='icon-heart' onclick="save('55',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Toko ABCD</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Jilbab Syariah Indonesia raya Meriah</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 50,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Jilbab Syariah Indonesia raya Meriah</a>
								<p class='ps-product__price sale'>Rp 50,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//RV71_27_Jeans_grande.jpg' alt='Segitiga Instan Aira- AA94.8 Minty Green'></a>
							<div class='ps-product__badge out-stock'>Habis Terjual</div>
							<ul class='ps-product__actions produk-2'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='2'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-2' title='Add to Whishlist'><i class='icon-heart' onclick="save('2',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segitiga Instan Aira- AA94.8 Minty Gre,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>
									 Rp 250,000 <del>350,000</del>
								</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Segitiga Instan Aira- AA94.8 Minty Green</a>
								<p class='ps-product__price sale'>
									 Rp 250,000 <del>350,000</del>
								</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//AD_19_20_Misty_Grey_grande.jpg' alt='Super Segiempat Rebya - RYB6.7 Pink Clover'></a>
							<ul class='ps-product__actions produk-20'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='20'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-20' title='Add to Whishlist'><i class='icon-heart' onclick="save('20',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Umar Lapakers</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Super Segiempat Rebya - RYB6.7 Pink C,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 65,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#''>Super Segiempat Rebya - RYB6.7 Pink Clover</a>
								<p class='ps-product__price sale'>Rp 65,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//AYD5_3_Mayra_Pink_grande.jpg' alt='Pashmina Instan Rafella - RLN1.1 Sweet Grey'></a>
							<ul class='ps-product__actions produk-7'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='7'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-7' title='Add to Whishlist'><i class='icon-heart' onclick="save('7',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Pashmina Instan Rafella - RLN1.1 Sweet,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 99,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Pashmina Instan Rafella - RLN1.1 Sweet Grey</a>
								<p class='ps-product__price sale'>Rp 99,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//AD_19_20_Misty_Grey_grande.jpg' alt='Segiempat Rebya - RYB6.7 Pink Clover'></a>
							<ul class='ps-product__actions produk-17'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='17'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-17' title='Add to Whishlist'><i class='icon-heart' onclick="save('17',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Segiempat Rebya - RYB6.7 Pink Clover</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 65,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Segiempat Rebya - RYB6.7 Pink Clover</a>
								<p class='ps-product__price sale'>Rp 65,000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-product-list ps-clothings">
		<div class="ps-container">
			<div class="ps-section__header">
				<h3>Fashion & Busana Pria</h3>
				<ul class='ps-section__links'>
					<li>
						<a href='#'>Lihat Semua</a>
					</li>
				</ul>
			</div>
			<div class="ps-section__content">
				<div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//no-image.png' alt='Ini bukan jual diri, tapi numpang eksis'></a>
							<div class='ps-product__badge out-stock'>Habis Terjual</div>
							<ul class='ps-product__actions produk-56'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='56'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-56' title='Add to Whishlist'><i class='icon-heart' onclick="save('56',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Toko XYZ</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Ini bukan jual diri, tapi numpang eksi,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 75,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Ini bukan jual diri, tapi numpang eksis</a>
								<p class='ps-product__price sale'>Rp 75,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img//gamis5.jpg' alt='Rompi Kurta Hoodie Zip Dark Grey Semi Wol'></a>
							<ul class='ps-product__actions produk-9'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='9'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-9' title='Add to Whishlist'><i class='icon-heart' onclick="save('9',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Rompi Kurta Hoodie Zip Dark Grey Semi ,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 68,500</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Rompi Kurta Hoodie Zip Dark Grey Semi Wol</a>
								<p class='ps-product__price sale'>Rp 68,500</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/gamis6.jpg' alt='Black Cotton Puplin Semi Wol Red White URI-12'></a>
							<div class='ps-product__badge out-stock'>Habis Terjual</div>
							<ul class='ps-product__actions produk-8'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='8'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-8' title='Add to Whishlist'><i class='icon-heart' onclick="save('8',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Black Cotton Puplin Semi Wol Red White,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 34,501</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Black Cotton Puplin Semi Wol Red White URI-12</a>
								<p class='ps-product__price sale'>Rp 34,501</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/gamis2.jpg' alt='Koku Black Cotton Sesnsation Gamis TY-4312'></a>
							<div class='ps-product__badge'>10 %</div>
							<ul class='ps-product__actions produk-14'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='14'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-14' title='Add to Whishlist'><i class='icon-heart' onclick="save('14',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Syarii Sentral Java</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Koku Black Cotton Sesnsation Gamis TY-,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>
									 Rp 90,000 <del>100,000</del>
								</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Koku Black Cotton Sesnsation Gamis TY-4312</a>
								<p class='ps-product__price sale'>
									 Rp 90,000 <del>100,000</del>
								</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/gamis11.jpg' alt='Gamis Green Filosifi Oxorcities TG-3452'></a>
							<ul class='ps-product__actions produk-28'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='28'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-28' title='Add to Whishlist'><i class='icon-heart' onclick="save('28',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Umar Lapakers</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Gamis Green Filosifi Oxorcities TG-345,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 59,900</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Gamis Green Filosifi Oxorcities TG-3452</a>
								<p class='ps-product__price sale'>Rp 59,900</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/gamis4.jpg' alt='Rompi Kurta Hoodie Zip Mentantarei YU-234'></a>
							<ul class='ps-product__actions produk-11'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='11'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-11' title='Add to Whishlist'><i class='icon-heart' onclick="save('11',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Umar Lapakers</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Rompi Kurta Hoodie Zip Mentantarei YU-,..</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 89,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Rompi Kurta Hoodie Zip Mentantarei YU-234</a>
								<p class='ps-product__price sale'>Rp 89,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/baju_dalam7.jpg' alt='Men Singelete - Baju Dalam Menarik'></a>
							<ul class='ps-product__actions produk-40'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='40'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-40' title='Add to Whishlist'><i class='icon-heart' onclick="save('40',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Umar Lapakers</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Men Singelete - Baju Dalam Menarik</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 5,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Men Singelete - Baju Dalam Menarik</a>
								<p class='ps-product__price sale'>Rp 5,000</p>
							</div>
						</div>
					</div>
					<div class='ps-product'>
						<div class='ps-product__thumbnail'>
							<a href='#'><img src='~/Users/img/gamis3.jpg' alt='Koku Fren Grenn Latifa Consesi TY-634'></a>
							<ul class='ps-product__actions produk-27'>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Read More'><i class='icon-bag2'></i></a>
								</li>
								<li>
									<a href='#' data-toggle='tooltip' data-placement='top' title='Quick View' class='quick_view' data-id='27'><i class='icon-eye'></i></a>
								</li>
								<li>
									<a data-toggle='tooltip' data-placement='top' id='save-27' title='Add to Whishlist'><i class='icon-heart' onclick="save('27',this.id)"></i></a>
								</li>
							</ul>
						</div>
						<div class='ps-product__container'>
							<a class='ps-product__vendor' href='#'>Umar Lapakers</a>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Koku Fren Grenn Latifa Consesi TY-634</a>
								<div class='ps-product__rating'>
									<select class='ps-rating' data-read-only='true'>
										<option value='1'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
										<option value='2'></option>
									</select>
									<span>0</span>
								</div>
								<p class='ps-product__price sale'>Rp 3,000</p>
							</div>
							<div class='ps-product__content hover'>
								<a class='ps-product__title' href='#'>Koku Fren Grenn Latifa Consesi TY-634</a>
								<p class='ps-product__price sale'>Rp 3,000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-home-ads">
		<div class="ps-container">
			<div class="row">
				<div class='col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 '>
					<a class='ps-collection' href='#' target='_blank'><img src='~/Users/img/ad-1.jpg' alt='Footer - Iklan No 1'/></a>
				</div>
				<div class='col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 '>
					<a class='ps-collection' href='#' target='_blank'><img src='~/Users/img/ad-2.jpg' alt='Footer - Iklan No 2'/></a>
				</div>
			</div>
		</div>
	</div>
	
	<div style='clear:both'>
		<br></div>
	<div class="ps-product-list ps-new-arrivals">
		<div class="ps-container">
			<div class="ps-section__header">
				<h3>Produk Baru Terpopuler</h3>
				<ul class="ps-section__links">
					<li>
						<a href='#'>Fashion & Busana Pria</a>
					</li>
					<li>
						<a href='#'>Perhiasan dan Aksesoris</a>
					</li>
					<li>
						<a href='#'>Olahraga dan Luar Rumah</a>
					</li>
					<li>
						<a href="#">Lihat Semua</a>
					</li>
				</ul>
			</div>
			<div class="ps-section__content">
				<div class="row">
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/no-image.png' alt='no-image.png'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Ini bukan jual diri, tapi numpang eksi,..</a>
								<p class='ps-product__price'>Rp 75,000</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/no-image.png' alt='no-image.png'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Jilbab Syariah Indonesia raya Meriah</a>
								<p class='ps-product__price'>Rp 50,000</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/sendok1.jpg' alt='sendok1.jpg'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Sendok Goreng Cantik dan Imut</a>
								<p class='ps-product__price'>Rp 18,000</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/Capture111.jpg' alt='Capture111.JPG'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>ACER Swift 7 (SF713-51) (Core i7-7Y75),..</a>
								<p class='ps-product__price'>Rp 1,000,000</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/no-image.png' alt='no-image.png'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Consina Expert Series Lunara Biru Gela,..</a>
								<p class='ps-product__price'>
									 Rp 749,000 <del>759,000</del>
								</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/baju_dalam7.jpg' alt='baju_dalam7.jpg'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Men Singelete - Baju Dalam Menarik</a>
								<p class='ps-product__price'>Rp 5,000</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/panci.jpg' alt='panci.jpg'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Panci Masak Super Hebat dan Awet</a>
								<p class='ps-product__price'>
									 Rp 120,000 <del>130,000</del>
								</p>
							</div>
						</div>
					</div>
					<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 '>
						<div class='ps-product--horizontal'>
							<div class='ps-product__thumbnail'>
								<a href='#'><img src='~/Users/img/subscribe.jpg' alt='foto_kopers.jpg'></a>
							</div>
							<div class='ps-product__content'>
								<a class='ps-product__title' href='#'>Koper anti Maling Conggih Sekali</a>
								<p class='ps-product__price'>Rp 550,000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>	
		</div>
			</div>
				</div>
					</div>
						</div>
	</div>