
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Thương Hiệu";
}

<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">

<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Admin/css/animate.css">

<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="~/Admin/css/style.css">


<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Brand List</h4>
<h6>Manage your Brand</h6>
</div>
<div class="page-btn">
<a href="addbrand.html" class="btn btn-added"><img src="~/Admin/img/icons/plus.svg" class="me-2" alt="img">Add Brand</a>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="table-top">
<div class="search-set">
<div class="search-path">
<a class="btn btn-filter" id="filter_search">
<img src="~/Admin/img/icons/filter.svg" alt="img">
<span><img src="~/Admin/img/icons/closes.svg" alt="img"></span>
</a>
</div>
<div class="search-input">
<a class="btn btn-searchset"><img src="~/Admin/img/icons/search-white.svg" alt="img"></a>
</div>
</div>
<div class="wordset">
<ul>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/Admin/img/icons/pdf.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/Admin/img/icons/excel.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/Admin/img/icons/printer.svg" alt="img"></a>
</li>
</ul>
</div>
</div>

<div class="card" id="filter_inputs">
<div class="card-body pb-0">
<div class="row">
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<input type="text" placeholder="Enter Brand Name">
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<input type="text" placeholder="Enter Brand Description">
</div>
</div>
<div class="col-lg-1 col-sm-6 col-12 ms-auto">
<div class="form-group">
<a class="btn btn-filters ms-auto"><img src="~/Admin/img/icons/search-whites.svg" alt="img"></a>
</div>
</div>
</div>
</div>
</div>

<div class="table-responsive">
    <table class="table datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                 <th>Mã thương hiệu</th>
                <th>Image</th>
                <th>Brand Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
              @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <label class="checkboxs">
                            <input type="checkbox">
                            <span class="checkmarks"></span>
                        </label>
                    </td>
                    <td>@item.MaThuongHieu</td> <!-- ✅ Hiển thị mã -->
                    <td>
                        <a class="product-img">
                            <img src="@(string.IsNullOrEmpty(item.Logo) ? "/images/noimage.png" : item.Logo)"
                                 alt="logo" style="width: 60px;" />
                        </a>
                    </td>
                    <td>@item.TenThuongHieu</td>
                    
                    <td>
                        <a class="me-3" href="/Admin/ThuongHieu/Edit/@item.MaThuongHieu">
                            <img src="~/Admin/img/icons/edit.svg" alt="edit" />
                        </a>
                        <a class="me-3 confirm-text" href="/Admin/ThuongHieu/Delete/@item.MaThuongHieu">
                            <img src="~/Admin/img/icons/delete.svg" alt="delete" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>
<script src="~/Admin/js/jquery-3.6.0.min.js"></script>

<script src="~/Admin/js/feather.min.js"></script>

<script src="~/Admin/js/jquery.slimscroll.min.js"></script>

<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Admin/js/bootstrap.bundle.min.js"></script>

<script src="~/Admin/plugins/select2/js/select2.min.js"></script>

<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="~/Admin/js/script.js"></script>