@{
    ViewData["Title"] = "Tin tức";
}
<h2 class="mb-4">Tin tức</h2>
<div class="row">
    <div class="col-md-6">
        <img src="/images/news1.jpg" class="img-fluid mb-3" />
        <h5>Tin tức số 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="col-md-6">
        <img src="/images/news2.jpg" class="img-fluid mb-3" />
        <h5>Tin tức số 2</h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et...</p>
    </div>
</div>