@model IEnumerable<Final_Project.Models.Shop.DanhMucDecor>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Danh sách & Thêm danh mục Decor";
}

<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">
<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Admin/css/animate.css">
<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/Admin/css/style.css">

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h2 class="text-center mb-4">📂 Danh mục Decor</h2>
            </div>
        </div>

        <!-- Form thêm danh mục -->
        <div class="card mb-4">
            <div class="card-header">
                <h5>➕ Thêm danh mục mới</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="tenDanhMuc">Tên danh mục</label>
                            <input type="text" id="tenDanhMuc" name="tenDanhMuc" class="form-control" required />
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="logoFile">Logo</label>
                            <input type="file" id="logoFile" name="logoFile" class="form-control" accept="image/*" />
                        </div>
                        <div class="col-md-2 d-flex align-items-end mb-3">
                            <button type="submit" class="btn btn-primary w-100">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Danh sách -->
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>STT</th>
                    <th>Tên danh mục</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaDanhMuc</td>
                        <td>@item.TenDanhMuc</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Logo))
                            {
                                <img src="@item.Logo" alt="@item.TenDanhMuc" style="height:40px;" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Admin/js/jquery-3.6.0.min.js"></script>
<script src="~/Admin/js/feather.min.js"></script>
<script src="~/Admin/js/jquery.slimscroll.min.js"></script>
<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/plugins/select2/js/select2.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>
<script src="~/Admin/js/script.js"></script>
