@{
    ViewData["Title"] = "Thương hiệu";
}

<h2 class="mb-4">Thương hiệu</h2>

<!-- Banner thương hiệu -->
<div class="row mb-4">
    <div class="col-md-4">
        <img src="/images/brand1.jpg" class="img-fluid" />
    </div>
    <div class="col-md-4">
        <img src="/images/brand2.jpg" class="img-fluid" />
    </div>
</div>

<!-- Lịch sử thương hiệu -->
<h4>Lịch sử phát triển</h4>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2010 - Thành lập</h5>
                <p class="card-text">Lorem ipsum dolor sit amet...</p>
            </div>
        </div>
    </div>
</div>

<!-- Đội ngũ/People -->
<h4>Đội ngũ</h4>
<div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col">
        <div class="card text-center">
            <img src="/images/staff1.jpg" class="card-img-top" />
            <div class="card-body">
                <h6 class="card-title">Nguyễn Văn A</h6>
                <p class="card-text">Giám đốc</p>
            </div>
        </div>
    </div>
</div>
